{% load i18n %}
<nav class="wrapper">
    <ul>
        {% for id, name in menu_cat %}
            <li id="{{ id }}"><a href="#{{ id }}">{{ name }}
            </a>

                <div>
                    <hr/>
                    <b><a href="#">Бла-бла-бла</a></b>
                    <hr/>
                    <b><a href="#">Бла-бла-бла</a></b>
                    <hr/>
                    <b><a href="#">Бла-бла-бла</a></b>
                    <hr/>
                    <b><a href="#">Бла-бла-бла</a></b>
                </div>
            </li>
        {% endfor %}
    </ul>
</nav>